
.classpath

*.csv

files/0CBIdleTime.csv

files/0CBIdleTime.csv

files/0M1IdleTime.csv

files/DVDThroughputTime.csv

files/DVDProductionPerHour.csv

files/DVDProductionPerHour.csv

*.csv

*.csv

files/3M1IdleTime.csv

*.csv

*.csv

files/0M2IdleTime.csv

files/0M3IdleTime.csv

files/0M4IdleTime.csv

files/1CBIdleTime.csv

files/1M1IdleTime.csv

files/1M1IdleTime.csv

files/1M2IdleTime.csv

files/1M3IdleTime.csv

files/1M3IdleTime.csv

files/1M4IdleTime.csv

files/1M4IdleTime.csv

files/2M1IdleTime.csv

files/2M1IdleTime.csv
